@font-face {
  font-family: "Lemon/Milk";
  src: url("../fonts/Lemon_Milk.otf") format("woff");
  src: url("../fonts/Lemon_Milk.otf") format("opentype");
  src: url("../fonts/Lemon_Milk.otf") format("truetype");
  font-display: swap
}

.loader {
  border: 5px solid #C0C0C0;
  border-top: 5px solid #FFFFFF; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.wrapper-follow 
{
    overflow: auto;

    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../assets/images/thesis-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}

.wrapper 
{
    overflow: auto;

    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../assets/images/thesis-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.grey-wrapper 
{
    overflow: auto;

    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: rgb(169,169,169, 0.3);
    display: block;
}

.panel-footer
{
    background-color: inherit;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}